@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Saira', sans-serif;
  }

  header {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 75px;
  }
  
  a {
    font-family: 'Saira', sans-serif;
    text-decoration: none;
  }

  main {
    margin: 50px;
  }

  .section-title {
    font-size: 3em;
    font-weight:300;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .header {
    background: #000;
    padding-inline: 16px;
  }

  .contact-us {
    width: 100%;
    background-color:#fff;
    color: black;
    justify-content: center;
    display: flex;
    border: solid 1px white;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .item {
    display: flex;
    width: 225px;
    padding-right: 10px;
    /* margin: 0 auto 16px auto; */
  }

  .item:last-child {
    margin-bottom: 0;
  }

  .item img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .anchor {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 300;
    justify-content: center;
  }

  .item p{
    height: 100%;
    width: 190px;
    justify-content: center;
    font-size: small;
  }
  
  .nav {
    max-width: 1280px;
    height: 70px;
    /* margin-inline: auto; */
    display: flex; 
    justify-content: center; /*space-between*/
    align-items: center;
  }
  
  .logo img{
    width: 250px;
    height: 40px;
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 14px;
    color: #fff;
    padding-block: 16px;
  }

  .nav-list a img {
    width: 35px;
    height: 25px;
  }

  .about {
    margin-top: 150px;
  }

  .about pp:first-child{
    margin-top: 20px;
  }

  .about p{
    margin-bottom: 10px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
  }

  .about ul li {
    list-style: none;
    text-align: center;
  }

  .carroussel {
    display: grid;
    width: 350px;
    grid-auto-flow: column;
    scroll-behavior:smooth;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin-bottom: 50px;
  }

  .card {
    scroll-snap-align: start;
    border-radius: 10px;
    max-height: 450px;
    min-width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }


/* RESPONSIVIDADE MOBILE */
  @media (max-width: 750px) {

    main {
      margin: 0;
      background-color: #000;
    }
    
    header {
      position: fixed;
      padding-top: 10px;
      background-color: #fff;
      width: 100%;
    }

    .header {
      padding-left: 0;
      padding-right: 0;
    }

    .contact-us {
      width: 100%;
      background-color:#fff;
      color: black;
      justify-content: center;
      display: flex;
      flex-direction: column;
      border: solid 1px white;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .item {
      display: flex;
      width: 280px;
      margin: 0 auto 16px auto;
    }

    .item:last-child {
      margin-bottom: 0;
    }

    .item img {
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }

    .item p{
      width: 100%;
      text-align: center;
      font-size: small;
    }

    .anchor {
      text-decoration: none;
      color: #000;
      font-size: 16px;
      font-weight: 300;
      margin: auto;
    }

    .about {
      padding-top: 100px;
    }

    .section-title {
      display: none;
    }

    .about-text {
      background-color: black;
      color: white;
      padding: 20px;
      margin-top: -1px;
    }

    .about-text p{
      font-weight: 300;
      text-align: justify;
      margin-bottom: 60px;
    }

    .about p {
      padding-left: 0px;
      padding-right: 0px;
    }

    .carroussel {
      display: grid;
      grid-auto-flow: column;
      scroll-behavior:smooth;
      gap: 1.2rem;
      overflow-y: auto;
      overscroll-behavior-x: contain;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      margin-bottom: 30px;
    }

    .carroussel::-webkit-scrollbar {
      display: none;
    }

    .card {
      scroll-snap-align: start;
      border-radius: 10px;
      max-height: 450px;
      min-width: 330px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .card img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }

    .payment h1 {
      color: #fff;
      font-weight:300;
      text-align: center;
    }

    .payment p {
      color: #fff;
      font-weight: 300;
      text-align: justify;
      padding: 16px;
    }

    .localization h1{
      color: #fff;
      font-weight:300;
      text-align: center;
    }

    .localization p {
      color: #fff;
      font-weight: 100;
      text-align: center;
      padding: 16px;
    }

    .localization div {
      width: 100%;
      justify-content: center;
    }

    .localization iframe {
      width: 100%;
    }
  }
